*{
    margin: 0px;
    padding: 0px;
    ;
}
table{
    background-color: rgb(41, 231, 133);
    border: 10px groove black;
    /* border-style: groove; */
    width: 100%;
    height: 100vh;
    /* border-color: black; */
}
#heading
{
    background-color: rgb(221, 221, 69);
    font-size: 60px;
    text-align: center;
    text-decoration:underline;
    display: flexbox;
}
#row
{
    background-color: rgb(84, 236, 67);
    text-align: center
}
#row1
{
    background-color: rgb(216, 90, 130);
    text-align: center;
}